p {
    background-color: grey;
    margin : 0;
}
p.img1 , p.img2 {
    background-color: red;
    width: 20%;
    line-height: 0;
    float:left;
}
p.img1 > img , p.img2 > img{
    max-width: 100%;
    min-width: 20%;

}
section {
    float: left;
}
