p {
    display: inline-block;
    width: 15rem;
    height: 5rem;
    padding: 1rem;
    border: 1px solid grey;
    vertical-align: top;
}

.ib {
    display: inline-block;
    width: .8em;
    height: .8em;
    background-color: black
}

#one {
    height: auto;
    text-align: justify;
    line-height: 1.5}
#two {
    text-align: end;
}
#two, #five {
    overflow-x: scroll;
}
#three {
    overflow: hidden;
}
#four {
    white-space: nowrap;
    overflow-y: scroll;
}
#five {
    height: 10rem;
    white-space: pre-wrap;
}