header, section {
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}
header {
    background-color: rgb(193, 22, 216);
    width: 100%;
}
h1 {
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    
    font-weight: bold;
}
.important {
    border-left: 1px solid;
    padding-left: 3%;
}
footer {
    background-color: rgb(18, 76, 128);
    color: aliceblue;
    float: inline-end;
    text-align: center;
    position:absolute;
    bottom:2%;
    width: 100%;
}
.important + p {
    padding-top: 3%;
}

@media screen and (min-device-width : 600px) and (orientation : landscape) {
    header, section {
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    header {
        background-color: rgb(96, 149, 158);
    }
    .important {
        border-left: none;
        border-bottom: 1px solid;
        padding-left: 0%;
        padding-bottom: 3%;
    }  

}

@media screen and (min-device-width : 800px){
    header {
        background-color: rgb(1, 150, 75);
    }
    .important {
        float : left;
        width: 50%;
    }  

    .important + p{
        float : right;
        padding-top: 0%;
        padding-left: 1%;
        width: 50%;
        border-bottom: 1px solid;
        padding-bottom: 1%;
    } 
}