@mixin nav($size){
    @if $size < 800{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    @else {
        display: flex;
        flex-direction: row;
    }
}

@mixin li( $color: orange, $justify: center){
    color: $color;
}